@import url(https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700&display=swap);
.navbar .nav-links li:nth-of-type(7), .navbar .nav-links li:nth-of-type(6), .navbar .nav-links li:nth-of-type(5), .navbar .nav-links li:nth-of-type(4), .navbar .nav-links li:nth-of-type(3), .navbar .nav-links li:nth-of-type(2), .navbar .nav-links li:nth-of-type(1) {
  opacity: 0;
  transition: 0.3s ease-in all;
}

.navbar .nav-links li:nth-of-type(7).nav-link-open, .navbar .nav-links li:nth-of-type(6).nav-link-open, .navbar .nav-links li:nth-of-type(5).nav-link-open, .navbar .nav-links li:nth-of-type(4).nav-link-open, .navbar .nav-links li:nth-of-type(3).nav-link-open, .navbar .nav-links li:nth-of-type(2).nav-link-open, .navbar .nav-links li:nth-of-type(1).nav-link-open {
  opacity: 1;
  transform: translateY(10px);
}

.burger {
  position: absolute;
  top: 25px;
  right: 25px;
  color: #4b93ce;
  cursor: pointer;
  z-index: 2121212121212121;
  display: flex;
}
.burger i:nth-of-type(1) {
  display: block;
}
.burger i:nth-of-type(2) {
  display: none;
}
.burger.burger-open {
  color: white;
}
.burger.burger-open i:nth-of-type(1) {
  display: none;
}
.burger.burger-open i:nth-of-type(2) {
  display: block;
}

.navbar {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background-color: #4b93ce;
  -webkit-clip-path: circle(0px at 0 0px);
          clip-path: circle(0px at 0 0px);
  transition: 0.5s ease all;
  z-index: 213213213213;
}
.navbar .nav-links {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-100%, -70%);
  padding-left: 0px;
}
.navbar .nav-links li {
  font-size: 10px;
  list-style-type: none;
  margin: 3rem 0;
}
.navbar .nav-links li:nth-of-type(1).nav-link-open {
  transition-delay: 0.15s;
}
.navbar .nav-links li:nth-of-type(2).nav-link-open {
  transition-delay: 0.25s;
}
.navbar .nav-links li:nth-of-type(3).nav-link-open {
  transition-delay: 0.35s;
}
.navbar .nav-links li:nth-of-type(4).nav-link-open {
  transition-delay: 0.45s;
}
.navbar .nav-links li:nth-of-type(5).nav-link-open {
  transition-delay: 0.55s;
}
.navbar .nav-links li:nth-of-type(6).nav-link-open {
  transition-delay: 0.65s;
}
.navbar .nav-links li:nth-of-type(7).nav-link-open {
  transition-delay: 0.75s;
}
.navbar .nav-links li a {
  text-decoration: none;
  color: white;
  font-size: 15px;
  position: relative;
  text-transform: uppercase;
  font-weight: 600;
  font-family: "Open Sans";
}
.navbar.nav-open {
  display: block;
  -webkit-clip-path: circle(100%);
          clip-path: circle(100%);
  z-index: 213213;
}

body,
html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  color: black;
  font-size: 13px;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

* {
  color: inherit;
}

.content-fluid {
  padding-right: 100px;
  padding-left: 100px;
}

.main {
  height: 100px;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 10;
  display: flex;
  flex-direction: row;
  align-content: center;
  transition: bottom 2s;
  position: absolute;
}
.main .content-nav-about {
  display: flex;
  align-content: center;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 70px;
}
.main .content-nav-about .menu-about {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
  width: 800px;
  height: 100%;
}
.main .content-nav-about .menu-about ul {
  width: 650px;
  list-style: none;
  display: flex;
  flex-direction: row;
  padding-left: 0px;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  margin: 0;
  height: 100%;
}
.main .content-nav-about .menu-about ul li {
  height: 100%;
  display: flex;
  align-items: center;
  position: relative;
}
.main .content-nav-about .menu-about ul .dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
}
.main .content-nav-about .menu-about ul .dropdown:hover picture img,
.main .content-nav-about .menu-about ul .dropbtn picture img {
  transform: rotate(180deg);
  transition: 0.5s;
}
.main .content-nav-about .menu-about ul .dropdown-content {
  max-height: 0;
  top: 101%;
  height: auto;
  width: 150px;
  opacity: 0;
  position: absolute;
  background-color: black;
  transition: 0.2s ease-in-out;
  z-index: 1;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}
.main .content-nav-about .menu-about ul .dropdown-content:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 10px;
  width: 100%;
  transform: translate(0, -100%);
  background-color: transparent;
}
.main .content-nav-about .menu-about ul .dropdown-content a {
  color: white;
  padding: 12px 15px;
  text-decoration: none;
  display: block;
  text-align: left;
}
.main .content-nav-about .menu-about ul .dropdown:hover .dropdown-content {
  max-height: -webkit-fit-content;
  max-height: -moz-fit-content;
  max-height: fit-content;
  height: auto;
  background-color: black;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  opacity: 1;
}
.main .content-nav-about .menu-about ul a {
  text-decoration: none;
  color: white;
  font-size: 12px;
  font-weight: 600;
}
.main .content-nav-about .menu-about ul a {
  color: white;
}
.main .content-nav-about .menu-about ul a li {
  color: white;
}
.main .content-nav-about .menu-about ul a .nav-button {
  border-radius: 28px;
  padding: 15px 20px;
  background-color: #4b93ce;
}
.main .content-nav-about .menu-about ul .nav-button:hover {
  background-color: transparent !important;
  color: #4b93ce;
  transition: 0.5s;
}
.main .content-nav-about .menu-about ul .nav-button:hover a {
  color: #4b93ce;
  transition: 0.5s;
}
.main .content-nav-about .menu-about ul a:hover {
  color: #4b93ce;
  transition: 0.5s;
}

.navbar-slide {
  height: 100px;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 10;
  display: flex;
  align-content: center;
  transition: bottom 2s;
  display: none;
}
.navbar-slide .content-nav-about {
  display: flex;
  align-content: center;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  box-shadow: 0 0 20px #b4b4b4;
  height: 70px;
}
.navbar-slide .content-nav-about .menu-about {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 800px;
  height: 100%;
}
.navbar-slide .content-nav-about .menu-about ul {
  width: 650px;
  list-style: none;
  display: flex;
  flex-direction: row;
  padding-left: 0px;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  margin: 0;
  height: 100%;
}
.navbar-slide .content-nav-about .menu-about ul li {
  height: 100%;
  display: flex;
  align-items: center;
  position: relative;
}
.navbar-slide .content-nav-about .menu-about ul .dropbtn {
  display: inline-block;
  color: black;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
}
.navbar-slide .content-nav-about .menu-about ul .dropdown:hover picture img,
.navbar-slide .content-nav-about .menu-about ul .dropbtn picture img {
  transform: rotate(180deg);
  transition: 0.5s;
}
.navbar-slide .content-nav-about .menu-about ul .dropdown-content {
  max-height: 0;
  top: 101%;
  height: auto;
  width: 150px;
  opacity: 0;
  position: absolute;
  background-color: white;
  transition: 0.2s ease-in-out;
  z-index: 1;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}
.navbar-slide .content-nav-about .menu-about ul .dropdown-content:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 10px;
  width: 100%;
  transform: translate(0, -100%);
  background-color: transparent;
}
.navbar-slide .content-nav-about .menu-about ul .dropdown-content a {
  color: black;
  padding: 12px 15px;
  text-decoration: none;
  display: block;
  text-align: left;
}
.navbar-slide .content-nav-about .menu-about ul .dropdown:hover .dropdown-content {
  max-height: -webkit-fit-content;
  max-height: -moz-fit-content;
  max-height: fit-content;
  height: auto;
  background-color: white;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  opacity: 1;
}
.navbar-slide .content-nav-about .menu-about ul a {
  text-decoration: none;
  color: black;
  font-size: 12px;
  font-weight: 600;
}
.navbar-slide .content-nav-about .menu-about ul a {
  color: black;
}
.navbar-slide .content-nav-about .menu-about ul a li {
  color: white;
}
.navbar-slide .content-nav-about .menu-about ul a .nav-button {
  border-radius: 25px;
  padding: 15px 20px;
  background-color: #4b93ce;
}
.navbar-slide .content-nav-about .menu-about ul .nav-button:hover {
  background-color: transparent !important;
  color: #4b93ce;
  transition: 0.5s;
}
.navbar-slide .content-nav-about .menu-about ul .nav-button:hover a {
  color: #4b93ce;
  transition: 0.5s;
}
.navbar-slide .content-nav-about .menu-about ul a:hover {
  color: #4b93ce;
  transition: 0.5s;
}

.head {
  position: relative;
  z-index: 3;
  height: auto;
}
.head .top {
  background-position-x: center;
  width: 100%;
  height: 100vh;
  min-height: 500px;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  z-index: 3;
  display: flex;
  align-items: flex-end;
}
.head .top::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #000000;
  opacity: 60%;
  z-index: 1;
}
.head .top .content-head {
  padding-bottom: 220px;
  height: 160px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 3;
}
.head .top .content-head .title {
  color: white;
  font-size: 30px;
  font-weight: bold;
}
.head .top .content-head .sub-title {
  color: white;
  font-size: 14px;
  opacity: 50%;
  font-weight: 300;
}
.head .top .content-head a {
  color: white;
  text-decoration: none;
  font-size: 12px;
}
.head .top .content-head a .head-button {
  border-radius: 28px;
  padding: 15px 20px;
  background-color: #4b93ce;
  width: 70px;
  text-align: center;
  margin-top: 20px;
}
.head .top .content-head a .head-button a {
  color: white;
  text-decoration: none;
  font-size: 12px;
}
.head .top .content-head .head-button:hover {
  background-color: transparent !important;
  color: #4b93ce;
  transition: 0.5s;
}
.head .top .content-head .head-button:hover a {
  color: #4b93ce;
  transition: 0.5s;
}

.owl-dots {
  position: absolute;
  transform: translate(215%, -160%);
  /* color: white; */
  z-index: 12211;
  width: 50px;
  height: 50px;
  display: flex !important;
  -moz-column-gap: 10px !important;
       column-gap: 10px !important;
  justify-content: flex-end;
  align-items: center;
  align-content: center;
}
.owl-dots .owl-dot {
  color: white !important;
  border: 1px solid white !important;
  padding: 0 !important;
  font: inherit !important;
  width: 10px !important;
  height: 10px !important;
  border-radius: 50% !important;
  display: block !important;
  opacity: 0.7 !important;
}
.owl-dots .owl-dot.active {
  box-shadow: 0px 0px 20px 0px white;
  border: 5px solid #4b93ce !important;
  transition: 0.5s;
  opacity: 2 !important;
}

.info-1 {
  margin-top: 40px;
  background-position: center;
  width: 100%;
  height: 800px;
  min-height: 500px;
  background-size: contain;
  background-repeat: no-repeat;
}
.info-1 .article-1 {
  display: flex;
  flex-direction: row;
  height: 800px;
  justify-content: space-evenly;
  align-items: center;
}
.info-1 .article-1 .image-groups {
  display: flex;
  flex-direction: column;
}
.info-1 .article-1 .image-groups .group1 {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}
.info-1 .article-1 .image-groups .group1 picture {
  height: 100%;
  width: 100%;
  position: relative;
}
.info-1 .article-1 .image-groups .group1 picture img {
  width: 300px;
  padding: 15px;
  filter: brightness(0.5);
}
.info-1 .article-1 .image-groups .group1 picture .img1 {
  height: 100%;
  width: 100%;
  position: relative;
}
.info-1 .article-1 .image-groups .group2 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.info-1 .article-1 .image-groups .group2 picture {
  height: 100%;
  width: 100%;
  position: relative;
}
.info-1 .article-1 .image-groups .group2 picture img {
  width: 300px;
  padding: 15px;
  filter: brightness(0.5);
}
.info-1 .article-1 .text-1 {
  display: flex;
  flex-direction: column;
  height: 515px;
  width: 400px;
  position: relative;
}
.info-1 .article-1 .text-1 .title h1 {
  font-size: 15px;
  font-weight: 800;
  color: #4b93ce;
  display: inline-block;
  padding-bottom: 5px;
  position: relative;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.info-1 .article-1 .text-1 .title h1:before {
  content: "";
  position: absolute;
  width: 50%;
  height: 1px;
  bottom: 0;
  border-bottom: 1px solid #707070;
}
.info-1 .article-1 .text-1 .p1 {
  padding-top: 15px;
  margin: unset;
  font-size: 25px;
  font-weight: 600;
  width: 455px;
}
.info-1 .article-1 .text-1 .p2 {
  position: relative;
  top: 30px;
  font-size: 14px;
  color: #000000;
  opacity: 0.5;
  width: 366px;
}
.info-1 .article-1 .text-1 a {
  color: white;
  text-decoration: none;
  font-size: 12px;
}
.info-1 .article-1 .text-1 a .info-button {
  position: relative;
  top: 75px;
  border-radius: 28px;
  padding: 15px 20px;
  background-color: #4b93ce;
  width: 70px;
  text-align: center;
}
.info-1 .article-1 .text-1 a .info-button a {
  color: white;
  text-decoration: none;
  font-size: 12px;
}
.info-1 .article-1 .text-1 .info-button:hover {
  background-color: transparent !important;
  color: #4b93ce;
  transition: 0.5s;
}
.info-1 .article-1 .text-1 .info-button:hover a {
  color: #4b93ce;
  transition: 0.5s;
}

.home-body1 {
  display: flex;
  flex-direction: column;
  background-position-x: center;
  width: 100%;
  height: 100vh;
  min-height: 500px;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  z-index: 3;
  background-attachment: fixed;
}
.home-body1::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #000000;
  opacity: 70%;
  z-index: 1;
}
.home-body1 .stat {
  display: flex;
  flex-direction: row;
  height: 50%;
  align-items: center;
  z-index: 9;
}
.home-body1 .stat .ligne {
  width: 17%;
  opacity: 100%;
  border-bottom: 1px solid #707070;
  padding-top: 70px;
}
.home-body1 .stat h1 {
  padding-left: 10px;
  font-size: 50px;
  color: #ffffff;
  font-weight: bold;
}
.home-body1 .stat h2 {
  padding-left: 10px;
  font-size: 50px;
  color: #ffffff;
  font-weight: bold;
}
.home-body1 .stat .inf {
  display: flex;
  flex-direction: column;
  padding-left: 10px;
  height: 200px;
  justify-content: flex-end;
}
.home-body1 .stat .inf .title {
  font-size: 20px;
  color: white;
  font-weight: bold;
}
.home-body1 .stat .inf .subtitle {
  padding-top: 15px;
  font-size: 12px;
  color: white;
  opacity: 0.7;
}
.home-body1 .stat .ligne2 {
  width: 40%;
  opacity: 100%;
  border-bottom: 1px solid #707070;
}

.home-body2 {
  width: 100%;
  height: 400px;
  display: flex;
  flex-direction: column;
}
.home-body2 .content-fluid h1 {
  margin-top: 50px;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #4b93ce;
  display: inline-block;
  padding-bottom: 5px;
  position: relative;
}
.home-body2 .content-fluid h1:before {
  content: "";
  position: absolute;
  width: 40%;
  height: 2px;
  bottom: 0;
  border-bottom: 3px solid #707070;
}
.home-body2 .content-fluid .boxes {
  margin-top: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  flex-wrap: wrap;
}
.home-body2 .content-fluid .boxes .box {
  width: 215px;
  height: 200px;
  border-style: solid;
  border-color: #e6e6e6;
  text-align: center;
  align-items: center;
  position: relative;
}
.home-body2 .content-fluid .boxes .box .circle {
  position: relative;
  width: 60px !important;
  height: 60px !important;
  top: -15%;
  left: 50%;
  transform: translateX(-50%);
  background-color: white;
  box-shadow: 0 0 20px #b4b4b4;
  border-radius: 50%;
}
.home-body2 .content-fluid .boxes .box .circle .svg {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -o-object-fit: contain;
     object-fit: contain;
  filter: grayscale(100%);
}
.home-body2 .content-fluid .boxes .box:hover {
  background-color: white;
  box-shadow: 0 0 20px #b4b4b4;
  border-color: transparent;
  border-bottom: 5px solid #4b93ce;
  transition-duration: 0.4s;
}
.home-body2 .content-fluid .boxes .box:hover .svg {
  filter: grayscale(0%);
}
.home-body2 .content-fluid .boxes h2 {
  font-size: 14px;
  color: black;
  font-weight: bold;
}
.home-body2 .content-fluid .boxes p {
  margin: 15px;
  font-size: 12px;
  color: black;
  opacity: 50%;
}

.home-body3 {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
}
.home-body3 .content-fluid {
  margin-top: 50px;
  margin-bottom: 50px;
}
.home-body3 .content-fluid h1 {
  margin-top: 50px;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #4b93ce;
  display: inline-block;
  padding-bottom: 5px;
  position: relative;
}
.home-body3 .content-fluid h1:before {
  content: "";
  position: absolute;
  width: 40%;
  height: 2px;
  bottom: 0;
  border-bottom: 3px solid #707070;
}
.home-body3 .content-fluid .all-services {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  -moz-column-gap: 30px;
       column-gap: 30px;
}
.home-body3 .content-fluid .all-services .servicess {
  display: flex;
  -moz-column-gap: 30px;
       column-gap: 30px;
  align-items: center;
  margin-top: 50px;
  height: 400px;
}
.home-body3 .content-fluid .all-services .servicess .image {
  width: 130px;
  height: 100%;
  transition: 0.3s all;
}
.home-body3 .content-fluid .all-services .servicess .image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  cursor: pointer;
}
.home-body3 .content-fluid .all-services .servicess .informations {
  width: auto;
  max-width: 0;
  overflow: hidden;
  transition: 0.3s all;
  opacity: 0;
}
.home-body3 .content-fluid .all-services .servicess .informations .title {
  margin-top: 10px;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: black;
  display: inline-block;
  padding-bottom: 5px;
  position: relative;
}
.home-body3 .content-fluid .all-services .servicess .informations .title:before {
  content: "";
  position: absolute;
  width: 40%;
  height: 2px;
  bottom: 0;
  color: #4b93ce;
  border-bottom: 3px solid #4b93ce;
}
.home-body3 .content-fluid .all-services .servicess .informations .text {
  padding: 10px 0px;
  font-size: 11px;
  font-weight: lighter;
  opacity: 50%;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 250px;
  overflow: hidden;
  height: 100px;
}
.home-body3 .content-fluid .all-services .servicess .informations button {
  border: none;
  color: #4b93ce;
  font-size: 12px;
  font-weight: bold;
  background-color: transparent;
  cursor: pointer;
  padding: 10px 0px;
}
.home-body3 .content-fluid .all-services .servicess.expanded .image {
  width: 250px;
}
.home-body3 .content-fluid .all-services .servicess.expanded .informations {
  max-width: 250px;
  opacity: 1;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  60% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  60% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
.clients {
  height: 350px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: rgba(75, 147, 206, 0.05);
}
.clients .content-fluid h1 {
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #4b93ce;
  border: black;
  display: inline-block;
  padding-bottom: 5px;
  position: relative;
}
.clients .content-fluid h1:before {
  content: "";
  position: absolute;
  width: 40%;
  height: 2px;
  bottom: 0;
  border-bottom: 3px solid #707070;
}
.clients .content-fluid .client-row1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}
.clients .content-fluid .client-row1 picture {
  width: 120px;
}
.clients .content-fluid .client-row1 picture img {
  width: 100%;
  height: 100%;
}

.process {
  margin-top: 50px;
  width: 100%;
  height: auto;
  min-height: 500px;
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.process .content-fluid {
  padding-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.process .content-fluid .title {
  height: 150px;
  padding: 40px;
  width: auto;
  display: flex;
  flex-direction: column;
}
.process .content-fluid .title h1 {
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #4b93ce;
  border: black;
  display: inline-block;
  padding-bottom: 5px;
  position: relative;
}
.process .content-fluid .title h1:before {
  content: "";
  position: absolute;
  width: 15%;
  height: 2px;
  bottom: 0;
  border-bottom: 3px solid #707070;
}
.process .content-fluid .title .subtitle {
  font-size: 20px;
  font-weight: bold;
}
.process .content-fluid .title p {
  font-size: 14px;
  font-weight: lighter;
  opacity: 50%;
}
.process .content-fluid .numbers {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: relative;
  padding-left: 20px;
}
.process .content-fluid .numbers .numb {
  font-size: 20px;
  font-weight: bold;
  color: grey;
}
.process .content-fluid .numbers:after {
  content: "";
  position: absolute;
  height: 90%;
  left: 0;
  border-left: 3px solid #4b93ce;
}
.process .content-fluid .dets {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.process .content-fluid .dets picture {
  width: 100%;
  height: auto;
}
.process .content-fluid .dets picture img {
  width: 50px;
  padding-top: 55px;
}
.process .content-fluid .detai {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}
.process .content-fluid .detai .i1 {
  padding-top: 50px;
}
.process .content-fluid .detai .i1 h2 {
  font-size: 12px;
  color: grey;
}

.quote {
  margin-top: 50px;
  background-position: center;
  width: 100%;
  height: 800px;
  min-height: 500px;
  background-size: contain;
  background-repeat: no-repeat;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.quote h1 {
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #4b93ce;
  border: black;
  display: inline-block;
  padding-bottom: 5px;
  position: relative;
}
.quote h1:before {
  content: "";
  position: absolute;
  width: 4%;
  left: 50%;
  transform: translateX(-50%);
  height: 2px;
  bottom: 0;
  border-bottom: 3px solid #707070;
}
.quote .content-fluid {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-content: space-evenly;
  padding-right: 300px;
  padding-left: 300px;
}
.quote .content-fluid .data {
  display: flex;
  flex-direction: row;
  text-align: left;
  width: 100%;
  justify-content: space-between;
  height: 65px;
  margin-bottom: 20px;
}
.quote .content-fluid .data h3 {
  text-transform: uppercase;
  margin: unset;
  font-size: 11px;
  font-weight: 600;
  padding-bottom: 5px;
}
.quote .content-fluid .data h3 span {
  color: #4b93ce;
}
.quote .content-fluid .data .inp {
  display: flex;
  flex-direction: column;
  width: 50%;
}
.quote .content-fluid .data select {
  height: 40px;
  width: 94%;
  opacity: 0.3;
  font-style: italic;
  outline: none;
  padding: 0 25px;
}
.quote .content-fluid .data input[type=text] {
  height: 37px;
  width: 80%;
  border: 1px solid #858585;
  opacity: 0.3;
  font-style: italic;
  padding: 0 25px;
}
.quote .content-fluid .data input[type=text]::-moz-placeholder {
  color: black;
  opacity: 0.8;
}
.quote .content-fluid .data input[type=text]:-ms-input-placeholder {
  color: black;
  opacity: 0.8;
}
.quote .content-fluid .data input[type=text]::placeholder {
  color: black;
  opacity: 0.8;
}
.quote .content-fluid .data2 {
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 97%;
  justify-content: space-between;
  row-gap: 20px;
  padding-bottom: 20px;
}
.quote .content-fluid .data2 select {
  margin: unset;
  height: 40px;
  width: 100%;
  opacity: 0.3;
  font-style: italic;
  outline: none;
  padding: 0 25px;
}
.quote .content-fluid .data2 h3 {
  text-transform: uppercase;
  margin: unset;
  font-size: 11px;
  font-weight: 600;
  padding-bottom: 5px;
}
.quote .content-fluid .data2 h3 span {
  color: #4b93ce;
}
.quote .content-fluid .data2 textarea[type=text] {
  margin: unset;
  height: 60px;
  width: 94%;
  border: 1px solid #858585;
  opacity: 0.3;
  font-style: italic;
  outline: none;
  padding: 20px 25px;
}
.quote .content-fluid .data2 textarea[type=text]::-moz-placeholder {
  color: black;
  opacity: 0.8;
}
.quote .content-fluid .data2 textarea[type=text]:-ms-input-placeholder {
  color: black;
  opacity: 0.8;
}
.quote .content-fluid .data2 textarea[type=text]::placeholder {
  color: black;
  opacity: 0.8;
}
.quote .input-container {
  background-color: rgba(75, 147, 206, 0);
  border: 1px solid #d3d3d3;
  height: 74px;
  width: 30%;
  font-family: Roboto, sans-serif;
  display: inline-block;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.quote .input-container input {
  margin-top: 28px;
}
.quote .col {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.quote .col .reca {
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}
.quote .col .reca img {
  width: 24px;
  display: inline;
}
.quote .col .reca span,
.quote .col .reca a {
  color: #9b9b9b;
}
.quote .col .reca .recaptcha {
  font-size: 10px;
  position: relative;
}
.quote .col .reca a,
.quote .col .reca .dash {
  font-size: 8px;
  text-decoration: none;
  display: inline;
}
.quote .quote-button {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.quote .quote-button input[type=submit] {
  border-radius: 28px;
  padding: 15px 20px;
  background-color: #4b93ce;
  text-align: center;
  border: none;
  color: white;
  text-decoration: none;
  font-size: 14px;
  cursor: pointer;
}
.quote .quote-button input[type=submit]:hover {
  background-color: transparent !important;
  color: #4b93ce;
  transition: 0.5s;
}

.footer {
  background-color: #2c2c2c;
}
.footer .content-fluid {
  margin-top: 50px;
  padding-top: 30px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.footer .content-fluid .rows {
  display: flex;
  flex-direction: row;
}
.footer .content-fluid .rows .sitemape {
  display: flex;
  flex-direction: column;
}
.footer .content-fluid .rows .sitemape h1 {
  color: white;
  text-transform: uppercase;
  font-size: 12px;
}
.footer .content-fluid .rows .sitemape ul {
  list-style: none;
  padding-left: 0px;
  justify-content: space-evenly;
  align-items: stretch;
  flex-wrap: nowrap;
}
.footer .content-fluid .rows .sitemape ul li {
  padding-bottom: 10px;
  color: white;
  font-size: 9px;
}
.footer .content-fluid .rows .sitemape ul li span {
  color: #4b93ce;
  font-size: 22px;
}
.footer .content-fluid .rows .sitemape .location-info ul {
  list-style: none;
  padding-left: 0px;
  justify-content: space-evenly;
  align-items: stretch;
  flex-wrap: nowrap;
}
.footer .content-fluid .rows .sitemape .location-info ul li {
  padding-bottom: 10px;
  color: white;
  font-size: 9px;
}
.footer .content-fluid .rows .sitemape .location-info ul li span {
  color: #4b93ce;
  font-size: 22px;
}
.footer .content-fluid .rows .sitemape .location-info ul li img {
  padding-left: 10px;
  padding-right: 10px;
}
.footer .content-fluid .rows .social {
  padding-top: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
}
.footer .content-fluid .rows .social h1 {
  font-size: 9px;
}
.footer .content-fluid .rows .social picture {
  padding-left: 10px;
}
.footer .content-fluid .rows .social picture img {
  width: 12px;
}
.footer .content-fluid .rows .social:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  top: 0;
  border-bottom: 1px solid #707070;
}
.footer .content-fluid {
  margin-top: 0;
}
.footer .content-fluid .dev {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  font-size: 10px;
}
.footer .content-fluid .dev ul {
  width: 21%;
  list-style: none;
  display: flex;
  padding-left: 0px;
  justify-content: space-between;
  margin-block: unset;
  align-items: stretch;
  flex-wrap: nowrap;
  -webkit-margin-start: 0px;
          margin-inline-start: 0px;
  -webkit-margin-end: 0px;
          margin-inline-end: 0px;
  color: #f1f1f1;
}
.footer .content-fluid .dev .devv {
  color: #f1f1f1;
}

.about-main {
  height: 100px;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 10;
  display: flex;
  align-content: center;
  transition: bottom 2s;
}
.about-main .content-nav-about {
  display: flex;
  align-content: center;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  box-shadow: 0 0 20px #b4b4b4;
  height: 70px;
}
.about-main .content-nav-about .menu-about {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 800px;
  height: 100%;
  justify-content: flex-end;
}
.about-main .content-nav-about .menu-about ul {
  width: 650px;
  list-style: none;
  display: flex;
  flex-direction: row;
  padding-left: 0px;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  margin: 0;
  height: 100%;
}
.about-main .content-nav-about .menu-about ul li {
  height: 100%;
  display: flex;
  align-items: center;
  position: relative;
}
.about-main .content-nav-about .menu-about ul .dropbtn {
  display: inline-block;
  color: black;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
}
.about-main .content-nav-about .menu-about ul .dropdown:hover picture img,
.about-main .content-nav-about .menu-about ul .dropbtn picture img {
  transform: rotate(180deg);
  transition: 0.5s;
}
.about-main .content-nav-about .menu-about ul .dropdown-content {
  max-height: 0;
  top: 101%;
  height: auto;
  width: 150px;
  opacity: 0;
  position: absolute;
  background-color: white;
  transition: 0.2s ease-in-out;
  z-index: 1;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}
.about-main .content-nav-about .menu-about ul .dropdown-content:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 10px;
  width: 100%;
  transform: translate(0, -100%);
  background-color: transparent;
}
.about-main .content-nav-about .menu-about ul .dropdown-content a {
  color: black;
  padding: 12px 15px;
  text-decoration: none;
  display: block;
  text-align: left;
}
.about-main .content-nav-about .menu-about ul .dropdown:hover .dropdown-content {
  max-height: -webkit-fit-content;
  max-height: -moz-fit-content;
  max-height: fit-content;
  height: auto;
  background-color: white;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  opacity: 1;
}
.about-main .content-nav-about .menu-about ul a {
  text-decoration: none;
  color: black;
  font-size: 12px;
  font-weight: 600;
}
.about-main .content-nav-about .menu-about ul a {
  color: black;
}
.about-main .content-nav-about .menu-about ul a li {
  color: white;
}
.about-main .content-nav-about .menu-about ul a .nav-button {
  border-radius: 25px;
  padding: 15px 20px;
  background-color: #4b93ce;
}
.about-main .content-nav-about .menu-about ul .nav-button:hover {
  background-color: transparent !important;
  color: #4b93ce;
  transition: 0.5s;
}
.about-main .content-nav-about .menu-about ul .nav-button:hover a {
  color: #4b93ce;
  transition: 0.5s;
}
.about-main .content-nav-about .menu-about ul a:hover {
  color: #4b93ce;
  transition: 0.5s;
}

.compact2 {
  position: fixed;
  height: auto;
  background-color: white;
  display: block !important;
  -webkit-animation: menu-slide-in-out 0.5s linear;
  animation: menu-slide-in-out 0.5s linear;
}

.aboutus-header {
  height: auto;
  text-align: center;
}
.aboutus-header .content-fluid span {
  color: #4b93ce;
  font-size: 14px;
  font-weight: 500;
}
.aboutus-header .content-fluid h1 {
  color: black;
  font-size: 25px;
  margin-top: 10px;
  margin-bottom: 30px;
}
.aboutus-header .content-fluid .video {
  position: relative;
}
.aboutus-header .content-fluid .video picture {
  position: relative;
}
.aboutus-header .content-fluid .video picture .video-background {
  width: 100%;
}
.aboutus-header .content-fluid .video picture .video-background::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #000000;
  opacity: 70%;
  z-index: 1;
}
.aboutus-header .content-fluid .playbutton {
  position: absolute;
  filter: grayscale(100%);
  transform: translate(-50%, -400%);
}
.aboutus-header .content-fluid .playbutton:hover {
  filter: grayscale(0%);
  transition: 0.5s;
  -webkit-animation-name: play;
          animation-name: play;
}

.about-body2 {
  width: 100%;
  height: 400px;
  display: flex;
  flex-direction: column;
}
.about-body2 .boxes {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.about-body2 .boxes .box {
  transform: translate(10px, -55px);
  display: flex;
  flex-direction: column;
  width: 290px;
  height: 250px;
  background-color: white;
  text-align: center;
  align-items: center;
  justify-content: space-evenly;
  box-shadow: 0px 0px 30px #0000000d;
}
.about-body2 .boxes .box h2 {
  font-size: 13px;
  font-weight: 600;
}
.about-body2 .boxes .box p {
  font-size: 12px;
  opacity: 0.5;
  width: 250px;
  height: 88px;
  font-family: 300;
}
.about-body2 .boxes .box img {
  width: 63px;
  height: 63px;
  background: transparent;
  border-radius: 0;
}

.about-body3 {
  height: 500px;
  width: 100%;
}
.about-body3 .content-fluid {
  display: flex;
  flex-direction: row;
  padding-right: 0;
  justify-content: space-between;
}
.about-body3 .content-fluid picture {
  width: 690px;
  height: 350px;
  position: relative;
}
.about-body3 .content-fluid picture::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #000000;
  opacity: 40%;
  z-index: 1;
}
.about-body3 .content-fluid picture img {
  width: 100%;
  height: 100%;
  float: right;
}
.about-body3 .content-fluid .text-1 {
  display: flex;
  flex-direction: column;
  height: 515px;
  width: 400px;
  position: relative;
}
.about-body3 .content-fluid .text-1 .title h1 {
  width: 95px;
  font-size: 14px;
  font-weight: 800;
  color: #4b93ce;
  display: inline-block;
  padding-bottom: 5px;
  position: relative;
  text-transform: uppercase;
}
.about-body3 .content-fluid .text-1 .title h1:before {
  content: "";
  position: absolute;
  width: 50%;
  height: 1px;
  bottom: 0;
  border-bottom: 1px solid #707070;
}
.about-body3 .content-fluid .text-1 .p1 {
  padding-top: 20px;
  margin: unset;
  font-size: 22px;
  font-weight: 600;
}
.about-body3 .content-fluid .text-1 .p2 {
  position: relative;
  top: 30px;
  font-size: 12px;
  width: 380px;
  opacity: 50%;
  padding-right: 10px;
  font-weight: 300;
}

.history {
  height: 350px;
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow: hidden;
  background: rgba(75, 147, 206, 0.05);
}
.history .content-fluid {
  padding-right: 0;
}
.history .content-fluid h1 {
  font-size: 14px;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #4b93ce;
  border: black;
  display: inline-block;
  padding-bottom: 5px;
  position: relative;
}
.history .content-fluid h1:before {
  content: "";
  position: absolute;
  width: 40%;
  height: 2px;
  bottom: 0;
  border-bottom: 3px solid #707070;
}
.history .history-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: auto;
  margin-top: 50px;
  -webkit-animation-name: marquee11;
          animation-name: marquee11;
  -webkit-animation-duration: 12s;
          animation-duration: 12s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}
.history .history-row .row1 {
  margin-left: 50px;
  margin-right: 50px;
}
.history .history-row .row1 .hist {
  width: 354px;
  height: 199px;
  margin: unset;
  position: relative;
}
.history .history-row .row1 .hist img {
  width: 100%;
  height: 100%;
}
.history .history-row .row1 .sp1 {
  font-size: 11px;
  border-right: unset;
  width: 200px;
  position: absolute;
  top: 20px;
}
.history .history-row .row1 .sp2 {
  font-size: 11px;
  border-right: unset;
  width: 200px;
  position: absolute;
  bottom: 30px;
}

@-webkit-keyframes marquee11 {
  0% {
    transform: translate(-8%, 0);
    -webkit-transform: translate(-8%, 0);
  }
  60% {
    transform: translate(-68%, 0);
    -webkit-transform: translate(-68%, 0);
  }
  100% {
    transform: translate(-8%, 0);
    -webkit-transform: translate(-8%, 0);
  }
}

@keyframes marquee11 {
  0% {
    transform: translate(-8%, 0);
    -webkit-transform: translate(-8%, 0);
  }
  60% {
    transform: translate(-68%, 0);
    -webkit-transform: translate(-68%, 0);
  }
  100% {
    transform: translate(-8%, 0);
    -webkit-transform: translate(-8%, 0);
  }
}
.a-end {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 400px;
  align-items: center;
  text-align: center;
}
.a-end .content-fluid {
  border-left: 3px solid #4b93ce;
  border-right: 3px solid #4b93ce;
}
.a-end .content-fluid .bigending h1 {
  font-size: 35px;
  width: 657px;
  font-weight: 600;
}

.offers-header {
  height: auto;
  text-align: center;
}
.offers-header .content-fluid {
  padding-top: 20px;
}
.offers-header .content-fluid span {
  color: #4b93ce;
  font-size: 14px;
  font-weight: 500;
}
.offers-header .content-fluid h1 {
  color: black;
  font-size: 25px;
  margin-top: 10px;
  margin-bottom: 30px;
}
.offers-header .content-fluid picture {
  height: 100%;
  width: 100%;
  position: relative;
  z-index: 2;
  display: block;
}
.offers-header .content-fluid picture img {
  width: 100%;
  filter: brightness(0.5);
}

.offering-body {
  width: 100%;
  height: 400px;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}
.offering-body .content-fluid .boxes {
  margin-top: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.offering-body .content-fluid .boxes .box {
  display: flex;
  flex-direction: column;
  width: 390px;
  height: 236px;
  border: 1px solid #e6e6e6;
  text-align: center;
  align-items: center;
  justify-content: flex-end;
  margin-top: 50px;
}
.offering-body .content-fluid .boxes .box img {
  width: 50px;
  height: 50px;
  position: relative;
  top: -30px;
  border-radius: 50%;
  padding: 20px;
  box-shadow: 0 0 20px #b4b4b4;
  background-color: white;
  font-size: 24px;
}
.offering-body .content-fluid .boxes .box h2 {
  font-size: 14px;
  color: black;
  font-weight: bold;
}
.offering-body .content-fluid .boxes .box p {
  padding: 20px;
  width: 310px;
  height: 65px;
  font-size: 12px;
  color: black;
  opacity: 50%;
}

.offering-body2 {
  width: 100%;
  height: 500px;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}
.offering-body2 .content-fluid .boxes {
  display: flex;
  flex-direction: column;
}
.offering-body2 .content-fluid .boxes .box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 200px;
}
.offering-body2 .content-fluid .boxes .box .row {
  height: 85px;
  width: 390px;
  border: 1px solid #373535;
}
.offering-body2 .content-fluid .boxes .box .row h2 {
  font-size: 12px;
  width: 224px;
  height: 22px;
  padding-inline: 30px;
}
.offering-body2 .content-fluid .boxes .box .row img {
  width: 70px;
  height: 40px;
  position: relative;
  top: -20px;
  left: 20px;
  background-color: white;
  font-size: 24px;
}
.offering-body2 .content-fluid h1 {
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #4b93ce;
  border: black;
  display: inline-block;
  padding-bottom: 5px;
  position: relative;
}
.offering-body2 .content-fluid h1:before {
  content: "";
  position: absolute;
  width: 5%;
  height: 2px;
  bottom: 0;
  border-bottom: 3px solid #707070;
}

.citrix-body1 {
  padding-top: 20px;
  height: auto;
  width: 100%;
  text-align: center;
}
.citrix-body1 span {
  color: #4b93ce;
  font-size: 14px;
  font-weight: 500;
}
.citrix-body1 h1 {
  color: black;
  font-size: 25px;
  margin-top: 10px;
  margin-bottom: 30px;
}
.citrix-body1 .content-fluid {
  padding-top: 30px;
  display: flex;
  flex-direction: row;
  padding-right: 0;
  justify-content: space-between;
}
.citrix-body1 .content-fluid picture {
  margin-top: 50px;
  width: 690px;
  height: 350px;
  position: relative;
}
.citrix-body1 .content-fluid picture::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #000000;
  opacity: 40%;
  z-index: 1;
}
.citrix-body1 .content-fluid picture img {
  width: 100%;
  height: 100%;
  float: right;
}
.citrix-body1 .content-fluid .text-1 {
  display: flex;
  flex-direction: column;
  height: 515px;
  width: 400px;
  text-align: justify;
}
.citrix-body1 .content-fluid .text-1 .title h2 {
  margin-top: 0;
  font-size: 30px;
  font-weight: bold;
  color: black;
  display: inline-block;
}
.citrix-body1 .content-fluid .text-1 .p1 {
  top: 30px;
  font-size: 13px;
  opacity: 50%;
  padding-right: 10px;
}

.products-body1 {
  padding-top: 20px;
  height: auto;
  width: 100%;
  text-align: center;
}
.products-body1 span {
  color: #4b93ce;
  font-size: 14px;
  font-weight: 500;
}
.products-body1 h1 {
  color: black;
  font-size: 25px;
  margin-top: 10px;
  margin-bottom: 30px;
}
.products-body1 .content-fluid {
  padding-top: 30px;
  display: flex;
  flex-direction: row;
  padding-right: 0;
  justify-content: space-between;
}
.products-body1 .content-fluid picture {
  width: 690px;
  height: 350px;
  position: relative;
}
.products-body1 .content-fluid picture::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #000000;
  opacity: 40%;
  z-index: 1;
}
.products-body1 .content-fluid picture img {
  width: 100%;
  height: 100%;
  float: right;
}
.products-body1 .content-fluid .text-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 400px;
  text-align: justify;
}
.products-body1 .content-fluid .text-1 .title h2 {
  margin-top: 0;
  font-weight: bold;
  color: black;
  display: inline-block;
}
.products-body1 .content-fluid .text-1 .p1 {
  top: 30px;
  font-size: 14px;
  opacity: 50%;
  padding-right: 10px;
}

.products-body2 {
  width: 100%;
  height: 650px;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  justify-content: center;
}
.products-body2 .content-fluid .boxes {
  display: flex;
  flex-direction: column;
  height: 270px;
  justify-content: space-between;
}
.products-body2 .content-fluid .boxes .box {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  height: 200px;
}
.products-body2 .content-fluid .boxes .box .row {
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #373535;
  width: 290px;
  height: 255px;
}
.products-body2 .content-fluid .boxes .box .row h2 {
  font-size: 14px;
  padding-bottom: 20px;
  padding-left: 30px;
  padding-top: 1px;
}
.products-body2 .content-fluid .boxes .box .row h3 {
  font-size: 10px;
  padding-left: 10px;
  font-weight: 200;
}
.products-body2 .content-fluid .boxes .box .row .divv {
  position: relative;
  padding-left: 30px;
}
.products-body2 .content-fluid .boxes .box .row .divv:before {
  content: "";
  position: absolute;
  width: 5%;
  height: 15px;
  border-left: 1px solid #4b93ce;
}
.products-body2 .content-fluid .boxes .box .row img {
  width: 50px;
  height: 56px;
  position: relative;
  top: -35px;
  left: 20px;
  background-color: white;
}
.products-body2 .content-fluid h1 {
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #4b93ce;
  border: black;
  display: inline-block;
  padding-bottom: 5px;
  position: relative;
}
.products-body2 .content-fluid h1:before {
  content: "";
  position: absolute;
  width: 30%;
  height: 2px;
  bottom: 0;
  border-bottom: 3px solid #707070;
}

.background {
  margin: unset;
  background-position-x: center;
  height: 400px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.background::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: black;
  opacity: 60%;
  z-index: 1;
}

.float {
  margin: unset;
}
.float .content-fluid {
  text-align: center;
}
.float .content-fluid .notification .noti-box {
  transform: translate(37%, -50%);
  width: 700px;
  height: 330px;
  background-color: #fff;
  box-shadow: 0 0 20px #999;
  position: relative;
  z-index: 5;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
}
.float .content-fluid .notification .noti-box .bigtitle {
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
}
.float .content-fluid .notification .noti-box .subtitle {
  font-size: 16px;
}
.float .content-fluid .notification .noti-box .detail {
  font-size: 14px;
}
.float .content-fluid .notification .noti-box .try-button {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.float .content-fluid .notification .noti-box .try-button .sub {
  border-radius: 28px;
  padding: 15px 20px;
  background-color: #4b93ce;
  width: 70px;
  text-align: center;
}
.float .content-fluid .notification .noti-box .try-button .sub a {
  color: white;
  text-decoration: none;
  font-size: 14px;
  font-weight: 600;
}
.float .content-fluid .notification .noti-box .sub:hover {
  background-color: transparent !important;
  color: #4b93ce;
  transition: 0.5s;
}
.float .content-fluid .notification .noti-box .sub:hover a {
  color: #4b93ce;
  transition: 0.5s;
}

button.owl-next,
.owl-nav.disabled {
  display: none;
}

.services-body {
  width: 100%;
  text-align: center;
}
.services-body span {
  color: #4b93ce;
  font-size: 14px;
  font-weight: 500;
}
.services-body h1 {
  color: black;
  font-size: 25px;
  margin-top: 10px;
  margin-bottom: 30px;
}
.services-body .content-fluid.services {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 350px;
}
.services-body .content-fluid.services .left-col {
  height: 100%;
  display: flex;
  align-items: center;
}
.services-body .content-fluid.services .left-col picture {
  height: 250px;
  position: relative;
}
.services-body .content-fluid.services .left-col picture::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #000000;
  opacity: 40%;
  z-index: 1;
}
.services-body .content-fluid.services .left-col picture img {
  width: 100%;
  height: 100%;
}
.services-body .content-fluid.services .text-1 {
  padding-left: 50px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: justify;
}
.services-body .content-fluid.services .text-1 .title h2 {
  font-size: 25px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: black;
  display: inline-block;
  padding-bottom: 5px;
  position: relative;
}
.services-body .content-fluid.services .text-1 .title h2:before {
  content: "";
  position: absolute;
  width: 40%;
  height: 2px;
  bottom: 0;
  color: #4b93ce;
  border-bottom: 3px solid #4b93ce;
}
.services-body .content-fluid.services .text-1 .p1 {
  top: 30px;
  font-size: 14px;
  opacity: 50%;
  padding-right: 10px;
  width: 550px;
  margin-bottom: 20px;
}

.scroll {
  height: auto;
  overflow-y: scroll;
}

.scroll::-webkit-scrollbar {
  width: 3px;
}

.scroll::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

.scroll::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

.scroll2 {
  height: auto;
  overflow-x: scroll;
}

.scroll2::-webkit-scrollbar {
  border-radius: 0px;
  box-shadow: transparent;
}

.scroll2::-webkit-scrollbar-track {
  border-radius: 0px;
  box-shadow: transparent;
}

.scroll2::-webkit-scrollbar-thumb {
  border-radius: 0px;
  box-shadow: transparent;
}

.switch {
  height: auto;
  width: 100%;
  position: relative;
  z-index: 1;
}
.switch .content-fluid {
  padding-right: 0;
}
.switch .content-fluid .options {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: auto;
  position: relative;
}
.switch .content-fluid .options .link {
  width: 100%;
  display: flex;
  flex-direction: row;
}
.switch .content-fluid .options .link a {
  text-decoration: none;
}
.switch .content-fluid .options .link .option {
  margin-top: 20px;
  font-size: 20px;
  font-weight: bold;
  position: relative;
  margin-right: 30px;
  height: 100px;
  display: flex;
  align-items: flex-end;
}
.switch .content-fluid .options .link .option:hover:before, .switch .content-fluid .options .link .option.selected:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  top: -21.5px;
  color: green;
  border-bottom: 3px solid #4b93ce;
  opacity: 1;
  z-index: 2;
}
.switch .content-fluid .options:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  top: -20px;
  color: black;
  border-bottom: 2px solid #707070;
  opacity: 0.3;
  margin-top: 20px;
}

.custom-stat {
  padding-bottom: 50px;
}
.custom-stat .content-fluid {
  padding-top: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.custom-stat .content-fluid picture {
  height: 500px;
}
.custom-stat .content-fluid picture img {
  width: 100%;
  height: 100%;
}
.custom-stat .content-fluid .text-1 {
  padding-left: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 500px;
  text-align: justify;
}
.custom-stat .content-fluid .text-1 .title h2 {
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #4b93ce;
  display: inline-block;
  padding-bottom: 5px;
  position: relative;
}
.custom-stat .content-fluid .text-1 .title h2:before {
  content: "";
  position: absolute;
  width: 40%;
  height: 2px;
  bottom: 0;
  color: #4b93ce;
  border-bottom: 3px solid black;
}
.custom-stat .content-fluid .text-1 .p1 {
  top: 30px;
  color: #000000;
  font-size: 25px;
  font-weight: 600;
  opacity: 100%;
}
.custom-stat .content-fluid .text-1 .p1 ul {
  list-style: none;
}
.custom-stat .content-fluid .text-1 .p1 ul img {
  padding-right: 10px;
}
.custom-stat .content-fluid .text-1 .p1 ul li {
  font-size: 14px;
  padding-bottom: 20px;
}

.map {
  height: 100%;
}
.map .content-fluid {
  display: flex;
  flex-direction: column;
}
.map .content-fluid h2 {
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #4b93ce;
  display: inline-block;
  padding-bottom: 5px;
  position: relative;
}
.map .content-fluid h2:before {
  content: "";
  position: absolute;
  width: 40%;
  height: 2px;
  bottom: 0;
  color: #4b93ce;
  border-bottom: 3px solid black;
}
.map .content-fluid picture {
  width: auto;
}
.map .content-fluid picture img {
  width: 100%;
  height: 100%;
}

.stories {
  height: auto;
}
.stories .content-fluid {
  display: flex;
  flex-direction: column;
}
.stories .content-fluid h2 {
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #4b93ce;
  display: inline-block;
  padding-bottom: 5px;
  position: relative;
}
.stories .content-fluid h2:before {
  content: "";
  position: absolute;
  width: 40%;
  height: 2px;
  bottom: 0;
  color: #4b93ce;
  border-bottom: 3px solid black;
}
.stories .content-fluid .one {
  padding-top: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.stories .content-fluid .one .story {
  display: flex;
  flex-direction: column;
  width: 30%;
  margin: 1%;
}
.stories .content-fluid .one .story .iphone {
  width: 200px;
  height: 400px;
  margin: 0 auto;
}
.stories .content-fluid .one .story .iphone img {
  width: 100%;
  height: 100%;
  transform: translate(25%, 0%);
}
.stories .content-fluid .one .story .box {
  text-align: justify;
  transform: translate(-5%, -55%);
  padding: 20px;
  box-sizing: border-box;
  height: 220px;
  background-color: #fff;
  box-shadow: 0px 20px 30px #00000012;
  position: relative;
  z-index: 5;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 350px;
}
.stories .content-fluid .one .story .box picture {
  width: 120px;
  height: 37px;
}
.stories .content-fluid .one .story .box picture img {
  width: 100%;
  height: 100%;
}
.stories .content-fluid .one .story .box p {
  font-size: 11px;
  color: #000000;
  opacity: 50%;
}
.stories .content-fluid .one .story .box .d {
  font-size: 11px;
  color: #000000;
  opacity: 50%;
}

.contact-header {
  height: 600px;
  text-align: center;
}
.contact-header .content-fluid span {
  color: #4b93ce;
  font-size: 14px;
  font-weight: 600;
}
.contact-header .content-fluid h1 {
  color: black;
  font-size: 25px;
}
.contact-header .content-fluid picture {
  height: 100%;
  width: 100%;
  position: relative;
  z-index: 2;
  display: block;
}
.contact-header .content-fluid picture img {
  width: 100%;
}
.contact-header .content-fluid .box {
  text-align: justify;
  transform: translate(20%, -130%);
  padding: 20px;
  box-sizing: border-box;
  height: auto;
  background-color: #fff;
  box-shadow: 0 0 20px #999;
  position: relative;
  z-index: 5;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 21%;
}
.contact-header .content-fluid .box .rows {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.contact-header .content-fluid .box .rows .sitemape {
  display: flex;
  flex-direction: column;
}
.contact-header .content-fluid .box .rows .sitemape .arrow {
  cursor: pointer;
}
.contact-header .content-fluid .box .rows .sitemape .arrow.active {
  transform: rotate(180deg);
  transition: 0.5s;
}
.contact-header .content-fluid .box .rows .sitemape ul {
  list-style: none;
  padding-left: 0px;
  justify-content: space-evenly;
  align-items: stretch;
  flex-wrap: nowrap;
  transition: 0.3s all;
}
.contact-header .content-fluid .box .rows .sitemape ul span {
  font-size: 16px;
  font-weight: bold;
  color: #000000;
  cursor: pointer;
}
.contact-header .content-fluid .box .rows .sitemape ul .pin {
  cursor: pointer;
}
.contact-header .content-fluid .box .rows .sitemape ul li {
  padding-bottom: 10px;
  color: black;
  font-size: 11px;
  display: flex;
  flex-direction: row;
  width: 200px;
  justify-content: flex-start;
}
.contact-header .content-fluid .box .rows .sitemape ul li img {
  padding-left: 10px;
  padding-right: 10px;
}
.contact-header .content-fluid .box .rows .sitemape ul img.active {
  transform: rotate(180deg);
  transition: 0.5s;
}
.contact-header .content-fluid .box .rows .open {
  display: block !important;
  transition: 0.3s all;
}

.getintouch .content-fluid .dii {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
}
.getintouch .content-fluid .dii .title {
  padding-bottom: 20px;
  width: 275px;
  padding-left: 100px;
}
.getintouch .content-fluid .dii .title h1 {
  font-size: 21px;
}
.getintouch .content-fluid .dii form {
  width: 65%;
}
.getintouch .content-fluid .dii .form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: auto;
  padding-bottom: 30px;
  row-gap: 20px;
}
.getintouch .content-fluid .dii .form .name-email {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
}
.getintouch .content-fluid .dii .form .name-email .name,
.getintouch .content-fluid .dii .form .name-email .email {
  width: 30%;
  display: flex;
  flex-direction: column;
}
.getintouch .content-fluid .dii .form .name-email .name h2,
.getintouch .content-fluid .dii .form .name-email .email h2 {
  text-transform: uppercase;
  margin: unset;
  font-size: 12px;
  font-weight: 600;
  padding-bottom: 5px;
}
.getintouch .content-fluid .dii .form .name-email .name h2 span,
.getintouch .content-fluid .dii .form .name-email .email h2 span {
  color: #4b93ce;
}
.getintouch .content-fluid .dii .form .name-email .name input[type=text],
.getintouch .content-fluid .dii .form .name-email .email input[type=text] {
  height: 30px;
  width: 130%;
  opacity: 0.5;
  font-style: italic;
  outline: none;
  padding: 0 25px;
}
.getintouch .content-fluid .dii .form .text {
  width: 80%;
}
.getintouch .content-fluid .dii .form .text h2 {
  text-transform: uppercase;
  margin: unset;
  font-size: 12px;
  font-weight: 600;
  padding-bottom: 5px;
}
.getintouch .content-fluid .dii .form .text h2 span {
  color: #4b93ce;
}
.getintouch .content-fluid .dii .form .text textarea[type=text] {
  height: 60px;
  width: 112%;
  opacity: 0.5;
  font-style: italic;
  outline: none;
  padding: 25px;
}
.getintouch .content-fluid .dii .form .touch-button {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.getintouch .content-fluid .dii .form .touch-button .sub input[type=submit] {
  border-radius: 28px;
  padding: 15px 20px;
  background-color: #4b93ce;
  text-align: center;
  border: none;
  color: white;
  text-decoration: none;
  font-size: 14px;
  cursor: pointer;
}
.getintouch .content-fluid .dii .form .touch-button input[type=submit]:hover {
  background-color: transparent !important;
  color: #4b93ce;
  transition: 0.5s;
}

@media (min-width: 320px) and (max-width: 575px) {
  .content-fluid {
    padding-right: 15px;
    padding-left: 15px;
  }

  .navbar-slide {
    display: none !important;
  }

  .main picture a img {
    width: 130px;
  }
  .main .menu-about {
    display: none !important;
  }

  .top .head .content-head .title {
    font-size: 25px;
  }
  .top .head .content-head .sub-title {
    font-size: 12px;
  }

  .info-1 .content-fluid .article-1 {
    flex-wrap: wrap;
  }
  .info-1 .content-fluid .article-1 .text-1 .p1 {
    font-size: 12px;
    padding-top: 0;
    width: unset;
  }
  .info-1 .content-fluid .article-1 .text-1 .p2 {
    top: 10px;
    font-size: 10px;
    width: auto;
  }
  .info-1 .content-fluid .article-1 .text-1 .info-button {
    left: 0;
    top: 30px;
  }
  .info-1 .content-fluid .article-1 .image-groups {
    text-align: center;
  }
  .info-1 .content-fluid .article-1 .image-groups .group1,
.info-1 .content-fluid .article-1 .image-groups .group2 {
    flex-wrap: wrap;
  }
  .info-1 .content-fluid .article-1 .image-groups .group1 picture img,
.info-1 .content-fluid .article-1 .image-groups .group2 picture img {
    width: 200px;
    filter: brightness(0.5);
  }
  .info-1 .content-fluid .article-1 .image-groups .group1 picture::before,
.info-1 .content-fluid .article-1 .image-groups .group2 picture::before {
    display: none;
  }

  .owl-dots {
    transform: translate(255%, -160%);
  }

  .home-body1 {
    justify-content: center;
    margin-top: 135px;
  }
  .home-body1 .stat {
    display: flex;
    flex-direction: row;
    height: auto;
    align-items: center;
    z-index: 9;
  }
  .home-body1 .stat .ligne {
    width: 13%;
    opacity: 100%;
    border-bottom: 1px solid #707070;
    padding-top: 130px;
  }
  .home-body1 .stat h1 {
    padding-left: 0px;
    font-size: 20px;
    width: 75px;
  }
  .home-body1 .stat h2 {
    padding-top: 100px;
    padding-left: 0px;
    font-size: 20px;
    width: 53px;
  }
  .home-body1 .stat .inf .title {
    font-size: 13px;
  }
  .home-body1 .stat .inf .subtitle {
    padding-top: 15px;
    font-size: 10px;
    color: white;
    opacity: 0.7;
  }
  .home-body1 .stat .ligne2 {
    padding-top: 100px;
    width: 15%;
    opacity: 100%;
    border-bottom: 1px solid #707070;
  }

  .home-body2 {
    height: unset;
  }
  .home-body2 .content-fluid .boxes {
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
  }

  .home-body3 .content-fluid .all-services .servicess {
    display: flex;
    flex-direction: column;
    position: relative;
  }
  .home-body3 .content-fluid .all-services .servicess .informations .title {
    font-size: 12px;
    width: 200px;
  }
  .home-body3 .content-fluid .all-services .servicess .informations button {
    position: absolute;
    bottom: 55px;
    right: 0;
  }

  .clients {
    height: unset;
  }
  .clients .content-fluid .client-row1 {
    flex-wrap: wrap;
  }
  .clients .content-fluid .client-row1 picture {
    width: 70px;
    padding: 10px;
  }

  .process .content-fluid .title {
    height: 150px;
    padding: 10px;
    width: auto;
    display: flex;
    flex-direction: column;
  }
  .process .content-fluid .dets {
    padding: unset !important;
  }
  .process .content-fluid .dets picture {
    padding-right: 10px;
  }
  .process .content-fluid .dets picture img {
    width: 25px;
    padding-top: 10px;
  }
  .process .content-fluid .numbers {
    padding-left: 10px;
    padding-right: 10px;
  }
  .process .content-fluid .numbers .numb {
    font-size: 15px;
  }

  .quote {
    height: unset;
  }
  .quote .content-fluid {
    padding-left: 15px;
    padding-right: 15px;
  }
  .quote .content-fluid .data {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    height: auto;
  }
  .quote .content-fluid .data .inp {
    width: 106%;
  }
  .quote .content-fluid .data select {
    width: 97%;
  }
  .quote .content-fluid .data2 {
    width: 95%;
    align-items: center;
  }
  .quote .content-fluid .data2 .inp {
    width: 100%;
  }
  .quote .content-fluid .data2 select {
    width: 108%;
  }
  .quote .content-fluid .data2 textarea[type=text] {
    width: 89%;
  }
  .quote .col {
    padding: 20px;
  }
  .quote .col .input-container {
    width: 70%;
  }
  .quote .quote-button {
    padding-bottom: 10px;
  }

  .footer {
    height: unset;
  }
  .footer .content-fluid {
    padding-left: 25px;
    padding-right: 25px;
    flex-wrap: wrap;
    padding-bottom: 20px;
    justify-content: space-between;
  }
  .footer .content-fluid .rows .sitemape {
    width: 135px;
  }
  .footer .content-fluid .dev {
    justify-content: center !important;
  }
  .footer .content-fluid .dev ul {
    width: 100% !important;
  }

  .about-main picture a img {
    width: 130px;
  }
  .about-main .menu-about {
    display: none !important;
  }

  .aboutus-header .content-fluid .playbutton {
    transform: translate(-50%, -200%);
    width: 40px;
  }

  .about-body2 {
    margin-top: 150px;
    height: unset;
    align-items: center;
  }
  .about-body2 .boxes {
    justify-content: center;
    flex-wrap: wrap;
    row-gap: 20px;
  }

  .about-body3 .content-fluid {
    padding-right: 15px;
    flex-wrap: wrap;
  }
  .about-body3 .content-fluid picture {
    height: unset;
  }
  .about-body3 .content-fluid .text-1 {
    height: auto;
  }
  .about-body3 .content-fluid .text-1 .p1 {
    font-size: 17px;
    width: 297px;
  }
  .about-body3 .content-fluid .text-1 .p2 {
    width: 290px;
  }

  .a-end {
    height: 200px;
  }
  .a-end .content-fluid .bigending h1 {
    font-size: 15px;
    width: 300px;
  }

  .offering-body {
    height: unset;
    align-items: center;
  }
  .offering-body .content-fluid .boxes {
    flex-direction: column;
    row-gap: 20px;
  }
  .offering-body .content-fluid .boxes .box {
    width: 300px;
  }
  .offering-body .content-fluid .boxes .box p {
    width: 307px;
  }

  .offering-body2 {
    height: unset;
  }
  .offering-body2 .content-fluid {
    padding-bottom: 20px;
  }
  .offering-body2 .content-fluid .boxes {
    row-gap: 20px;
  }
  .offering-body2 .content-fluid .boxes .box {
    flex-direction: column;
    height: unset;
    row-gap: 30px;
  }
  .offering-body2 .content-fluid .boxes .box .row {
    width: 295px;
  }

  .citrix-body1 .content-fluid {
    padding-right: 15px;
    padding-bottom: 35px;
    flex-wrap: wrap;
  }
  .citrix-body1 .content-fluid picture {
    height: unset;
  }
  .citrix-body1 .content-fluid .text-1 {
    height: 300px;
  }
  .citrix-body1 .content-fluid .text-1 .p1 {
    font-size: 10px;
  }

  .products-body1 .content-fluid {
    flex-wrap: wrap;
    padding-right: 15px;
  }
  .products-body1 .content-fluid .text-1 {
    padding-bottom: 20px;
  }
  .products-body1 .content-fluid picture {
    height: unset;
  }

  .products-body2 {
    height: unset;
  }
  .products-body2 .content-fluid {
    padding-bottom: 20px;
  }
  .products-body2 .content-fluid .boxes {
    height: unset;
  }
  .products-body2 .content-fluid .boxes .tit {
    padding-bottom: 20px;
  }
  .products-body2 .content-fluid .boxes .box {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: unset;
    row-gap: 20px;
  }

  .float .content-fluid .notification .noti-box {
    transform: translate(0%, -48%);
    width: unset;
    height: unset;
    padding: 20px;
  }
  .float .content-fluid .notification .noti-box .try-button {
    padding: 10px;
  }

  .services-body {
    height: 750px;
  }
  .services-body .content-fluid.services {
    flex-wrap: wrap;
  }
  .services-body .content-fluid.services .text-1 {
    padding-left: unset;
  }
  .services-body .content-fluid.services .text-1 .title h2 {
    font-size: 15px;
  }
  .services-body .content-fluid.services .text-1 .p1 {
    width: auto;
    font-size: 12px;
  }

  .custom-stat {
    padding-bottom: 0;
  }
  .custom-stat .content-fluid {
    flex-wrap: wrap;
  }
  .custom-stat .content-fluid picture {
    height: unset;
  }
  .custom-stat .content-fluid .text-1 {
    padding-top: 20px;
    padding-left: unset;
  }
  .custom-stat .content-fluid .text-1 .p1 {
    font-size: 18px;
  }
  .custom-stat .content-fluid .text-1 .p1 ul li {
    font-size: 15px;
  }

  .stories .content-fluid .one .story .iphone {
    height: 340px;
  }
  .stories .content-fluid .one .story .box {
    transform: translate(-5%, -25%);
  }

  .map {
    height: unset;
  }

  .contact-header {
    height: unset;
  }
  .contact-header .content-fluid .box {
    transform: translate(17%, -30%);
    padding: 20px;
    box-sizing: border-box;
    height: 170px;
    width: 75%;
  }

  .getintouch .content-fluid .dii {
    flex-wrap: wrap;
  }
  .getintouch .content-fluid .dii .form {
    width: 85%;
  }
  .getintouch .content-fluid .dii .form .name-email {
    flex-direction: column;
  }
  .getintouch .content-fluid .dii .form .name-email .name,
.getintouch .content-fluid .dii .form .name-email .email {
    width: 100%;
  }
  .getintouch .content-fluid .dii .form .text {
    width: 100%;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  .main picture a img {
    width: 160px;
  }
  .main .menu-about {
    display: none !important;
  }

  .navbar-slide {
    display: none !important;
  }

  .content-fluid {
    padding-right: 15px;
    padding-left: 15px;
  }

  .info-1 .article-1 {
    display: flex;
    flex-direction: column;
    height: unset;
    justify-content: space-evenly;
    align-items: center;
  }
  .info-1 .article-1 .text-1 {
    width: unset;
  }
  .info-1 .article-1 .text-1 .p1 {
    font-size: 19px;
  }
  .info-1 .article-1 .text-1 .p2 {
    font-size: 12px;
  }
  .info-1 .article-1 .image-groups .group1 picture img,
.info-1 .article-1 .image-groups .group2 picture img {
    width: 260px;
  }

  .home-body1 .stat h2 {
    padding-left: 0;
    font-size: 46px;
  }
  .home-body1 .stat .ligne2 {
    width: 15%;
  }
  .home-body1 .stat .inf .title {
    font-size: 17px;
  }
  .home-body1 .stat .inf .subtitle {
    font-size: 11px;
  }

  .home-body2 .content-fluid .boxes {
    justify-content: center;
    flex-wrap: wrap;
    -moz-column-gap: 20px;
         column-gap: 20px;
    row-gap: 20px;
  }

  .home-body3 .content-fluid {
    margin-top: 350px;
  }

  .clients .content-fluid .client-row1 {
    -moz-column-gap: 10px;
         column-gap: 10px;
  }

  .process .content-fluid .dets {
    padding: 15px;
  }
  .process .content-fluid .dets picture img {
    width: 25px;
    padding-top: 20px;
  }

  .quote .content-fluid {
    padding-left: 15px !important;
    padding-right: 15px !important;
  }
  .quote .content-fluid .data {
    -moz-column-gap: 10px;
         column-gap: 10px;
  }
  .quote .input-container {
    width: 40%;
  }

  .footer {
    height: unset;
  }
  .footer .content-fluid {
    padding-left: 25px !important;
    padding-right: 25px !important;
    flex-wrap: wrap;
    padding-bottom: 20px;
  }
  .footer .content-fluid .rows .sitemape {
    width: 150px;
  }
  .footer .dev {
    justify-content: center !important;
  }
  .footer .dev ul {
    width: 100% !important;
  }
  .footer .dev .devv {
    padding-top: 10px;
  }

  .about-main picture a img {
    width: 130px;
  }
  .about-main .menu-about {
    display: none !important;
  }

  .aboutus-header .content-fluid .playbutton {
    transform: translate(-50%, -255%);
    width: 50px;
  }

  .about-body2 {
    margin-top: 100px;
    height: unset;
    align-items: center;
  }
  .about-body2 .boxes {
    justify-content: center;
    flex-wrap: wrap;
    row-gap: 20px;
    -moz-column-gap: 20px;
         column-gap: 20px;
  }

  .about-body3 .content-fluid {
    padding-right: 15px;
    flex-wrap: wrap;
  }
  .about-body3 .content-fluid picture {
    height: unset;
    width: 416px;
  }
  .about-body3 .content-fluid .text-1 {
    height: auto;
  }
  .about-body3 .content-fluid .text-1 .p1 {
    font-size: 17px;
    width: 297px;
  }
  .about-body3 .content-fluid .text-1 .p2 {
    width: 290px;
  }

  .history {
    justify-content: flex-end;
  }

  .a-end {
    height: 200px;
  }
  .a-end .content-fluid .bigending h1 {
    font-size: 18px;
    width: 380px;
  }

  .offering-body {
    height: unset;
    align-items: center;
  }
  .offering-body .content-fluid .boxes {
    flex-wrap: wrap;
    row-gap: 20px;
    -moz-column-gap: 20px;
         column-gap: 20px;
    justify-content: center;
  }
  .offering-body .content-fluid .boxes .box {
    width: 320px;
  }
  .offering-body .content-fluid .boxes .box p {
    width: 307px;
  }

  .offering-body2 {
    height: unset;
  }
  .offering-body2 .content-fluid {
    padding-bottom: 20px;
  }
  .offering-body2 .content-fluid .boxes {
    row-gap: 20px;
  }
  .offering-body2 .content-fluid .boxes .box {
    padding-top: 30px;
    flex-wrap: wrap;
    height: unset;
    row-gap: 30px;
  }
  .offering-body2 .content-fluid .boxes .box .row {
    width: 265px;
  }

  .citrix-body1 .content-fluid {
    flex-direction: column;
  }
  .citrix-body1 .content-fluid picture {
    height: unset;
    width: unset;
  }
  .citrix-body1 .content-fluid .text-1 {
    height: 390px;
  }

  .products-body1 .content-fluid {
    flex-direction: column;
  }
  .products-body1 .content-fluid .text-1 {
    height: 200px;
  }
  .products-body1 .content-fluid picture {
    height: unset;
    width: unset;
  }

  .products-body2 {
    height: unset;
  }
  .products-body2 .content-fluid {
    padding-bottom: 20px;
  }
  .products-body2 .content-fluid .boxes {
    height: unset;
  }
  .products-body2 .content-fluid .boxes .tit {
    padding-top: 20px;
  }
  .products-body2 .content-fluid .boxes .box {
    display: flex;
    flex-direction: column;
    height: unset;
    row-gap: 20px;
    align-items: center;
  }

  .float .content-fluid .notification .noti-box {
    width: 100%;
    transform: translate(0%, -50%);
  }

  .services-body {
    height: 750px;
  }
  .services-body .content-fluid.services {
    flex-wrap: wrap;
  }
  .services-body .content-fluid.services .left-col picture {
    height: 300px;
  }
  .services-body .content-fluid.services .text-1 {
    padding-left: unset;
  }
  .services-body .content-fluid.services .text-1 .title h2 {
    font-size: 23px;
  }
  .services-body .content-fluid.services .text-1 .p1 {
    width: auto;
    font-size: 15px;
  }

  .custom-stat {
    padding-bottom: 0;
  }
  .custom-stat .content-fluid {
    flex-wrap: wrap;
  }
  .custom-stat .content-fluid picture {
    height: 400px;
  }
  .custom-stat .content-fluid .text-1 {
    padding-top: 20px;
    padding-left: unset;
    width: auto;
  }
  .custom-stat .content-fluid .text-1 .p1 {
    font-size: 22px;
  }
  .custom-stat .content-fluid .text-1 .p1 ul li {
    font-size: 17px;
  }

  .map {
    height: 100%;
  }

  .contact-header {
    height: unset;
  }
  .contact-header .content-fluid .box {
    text-align: justify;
    transform: translate(20%, -120%);
  }

  .getintouch .content-fluid .dii {
    flex-direction: column;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .main picture a img {
    width: 160px;
  }
  .main .menu-about {
    display: none !important;
  }

  .about-main picture a img {
    width: 130px;
  }
  .about-main .menu-about {
    display: none !important;
  }

  .navbar-slide {
    display: none !important;
  }

  .home-infos .info-1 .article-1 {
    flex-wrap: wrap;
    justify-content: center;
  }
  .home-infos .info-1 .article-1 .text-1 .p1 {
    font-size: 15px;
  }
  .home-infos .info-1 .article-1 .text-1 .p2 {
    top: 15px;
    font-size: 13px;
  }
  .home-infos .info-1 .article-1 .text-1 .info-button {
    top: 45px;
  }

  .home-body2 .content-fluid .boxes {
    row-gap: 20px;
    justify-content: center;
    -moz-column-gap: 7px;
         column-gap: 7px;
  }

  .home-body3 .content-fluid {
    margin-top: 150px;
    margin-bottom: 50px;
  }

  .process .content-fluid .dets {
    padding: 15px;
  }

  .content-fluid {
    padding-right: 50px;
    padding-left: 50px;
  }

  .quote .content-fluid {
    padding-left: 15px;
    padding-right: 15px;
  }

  .clients .content-fluid .client-row1 {
    -moz-column-gap: 14px;
         column-gap: 14px;
  }

  .footer .content-fluid {
    padding-left: 25px !important;
    padding-right: 25px !important;
  }
  .footer .content-fluid .dev ul {
    -moz-column-gap: 14px;
         column-gap: 14px;
  }

  .about-body2 {
    margin-top: 100px;
    height: unset;
    align-items: center;
  }
  .about-body2 .boxes {
    justify-content: center;
    flex-wrap: wrap;
    row-gap: 20px;
    -moz-column-gap: 20px;
         column-gap: 20px;
  }

  .about-body3 .content-fluid {
    padding-right: 15px;
    flex-wrap: wrap;
  }
  .about-body3 .content-fluid picture {
    width: 300px;
    height: 200px;
  }
  .about-body3 .content-fluid .text-1 {
    height: auto;
  }
  .about-body3 .content-fluid .text-1 .p1 {
    font-size: 20px;
    width: 370px;
  }
  .about-body3 .content-fluid .text-1 .p2 {
    width: 355px;
  }

  .offering-body {
    height: unset;
    align-items: center;
  }
  .offering-body .content-fluid .boxes {
    flex-wrap: wrap;
    row-gap: 20px;
  }
  .offering-body .content-fluid .boxes .box {
    width: 320px;
  }
  .offering-body .content-fluid .boxes .box p {
    width: 307px;
  }

  .offering-body2 {
    height: unset;
  }
  .offering-body2 .content-fluid {
    padding-bottom: 20px;
  }
  .offering-body2 .content-fluid .boxes {
    row-gap: 20px;
  }
  .offering-body2 .content-fluid .boxes .box {
    padding-top: 30px;
    flex-wrap: wrap;
    height: unset;
    row-gap: 30px;
  }
  .offering-body2 .content-fluid .boxes .box .row {
    width: 322px;
  }

  .citrix-body1 .content-fluid {
    flex-direction: column;
  }
  .citrix-body1 .content-fluid picture {
    height: unset;
    width: unset;
  }
  .citrix-body1 .content-fluid .text-1 {
    height: 390px;
  }

  .products-body1 .content-fluid .text-1 {
    width: unset;
  }
  .products-body1 .content-fluid picture {
    height: unset;
    width: unset;
  }

  .products-body2 {
    height: unset;
  }
  .products-body2 .content-fluid {
    padding-bottom: 20px;
  }
  .products-body2 .content-fluid .boxes {
    height: unset;
  }
  .products-body2 .content-fluid .boxes .tit {
    padding-top: 20px;
  }
  .products-body2 .content-fluid .boxes .box {
    display: flex;
    height: unset;
    row-gap: 20px;
    flex-wrap: wrap;
  }
  .products-body2 .content-fluid .boxes .box .row {
    width: 211px;
    height: 250px;
  }
  .products-body2 .content-fluid .boxes .box .row h2 {
    font-size: 12px;
  }

  .float .content-fluid .notification .noti-box {
    width: 100%;
    transform: translate(0%, -50%);
  }

  .services-body {
    height: 750px;
  }
  .services-body .content-fluid.services {
    flex-wrap: wrap;
  }
  .services-body .content-fluid.services .left-col picture {
    height: 300px;
  }
  .services-body .content-fluid.services .text-1 {
    padding-left: unset;
  }
  .services-body .content-fluid.services .text-1 .title h2 {
    font-size: 23px;
  }
  .services-body .content-fluid.services .text-1 .p1 {
    width: auto;
    font-size: 18px;
  }

  .custom-stat {
    padding-bottom: 0;
  }
  .custom-stat .content-fluid picture {
    height: unset;
  }
  .custom-stat .content-fluid .text-1 .p1 {
    font-size: 20px;
  }

  .map {
    height: 100%;
  }

  .contact-header .content-fluid .box {
    transform: translate(20%, -129%);
    width: 25%;
  }
}
@media (min-width: 992px) and (max-width: 1050px) {
  .main .menu-about {
    display: none !important;
  }

  .navbar-slide {
    display: none !important;
  }

  .about-main picture a img {
    width: 130px;
  }
  .about-main .menu-about {
    display: none !important;
  }

  .home-infos .info-1 .article-1 {
    flex-wrap: wrap;
    justify-content: center;
  }
  .home-infos .info-1 .article-1 .text-1 .p1 {
    font-size: 18px;
  }
  .home-infos .info-1 .article-1 .text-1 .p2 {
    top: 15px;
    font-size: 13px;
  }
  .home-infos .info-1 .article-1 .text-1 .info-button {
    top: 45px;
  }

  .home-body2 .content-fluid .boxes {
    justify-content: start;
    -moz-column-gap: 20px;
         column-gap: 20px;
    row-gap: 20px;
  }

  .home-body3 .content-fluid {
    margin-top: 150px;
  }

  .clients .content-fluid .client-row1 {
    -moz-column-gap: 20px;
         column-gap: 20px;
  }

  .process .content-fluid .dets {
    padding: 20px;
  }

  .quote .content-fluid {
    padding-left: 200px;
    padding-right: 200px;
  }

  .footer .content-fluid .dev ul {
    -moz-column-gap: 20px;
         column-gap: 20px;
  }

  .about-body2 {
    margin-top: 100px;
    height: unset;
    align-items: center;
  }
  .about-body2 .content-fluid {
    padding-right: 15px !important;
    padding-left: 15px !important;
  }
  .about-body2 .boxes {
    justify-content: flex-start;
    flex-wrap: wrap;
    row-gap: 20px;
    -moz-column-gap: 20px;
         column-gap: 20px;
  }

  .offering-body {
    height: unset;
    align-items: center;
  }
  .offering-body .content-fluid .boxes {
    -moz-column-gap: 20px;
         column-gap: 20px;
    flex-wrap: wrap;
    row-gap: 20px;
  }
  .offering-body .content-fluid .boxes .box {
    width: 268px;
  }
  .offering-body .content-fluid .boxes .box p {
    width: 235px;
  }

  .offering-body2 .content-fluid .boxes .box {
    -moz-column-gap: 20px;
         column-gap: 20px;
  }
  .offering-body2 .content-fluid .boxes .box .row {
    width: 270px;
  }

  .products-body1 .content-fluid .text-1 {
    width: unset;
  }
  .products-body1 .content-fluid picture {
    height: unset;
    width: unset;
  }

  .products-body2 {
    height: unset;
  }
  .products-body2 .content-fluid {
    padding-bottom: 20px;
  }
  .products-body2 .content-fluid .boxes {
    height: unset;
  }
  .products-body2 .content-fluid .boxes .tit {
    padding-top: 20px;
  }
  .products-body2 .content-fluid .boxes .box {
    display: flex;
    height: unset;
    row-gap: 20px;
    flex-wrap: wrap;
  }
  .products-body2 .content-fluid .boxes .box .row {
    width: 211px;
    height: 250px;
  }
  .products-body2 .content-fluid .boxes .box .row h2 {
    font-size: 12px;
  }

  .float .content-fluid .notification .noti-box {
    width: 100%;
    transform: translate(0%, -50%);
  }

  .services-body {
    height: 450px;
  }
  .services-body .content-fluid.services {
    align-items: center;
  }
  .services-body .content-fluid.services .text-1 {
    padding-left: unset;
  }
  .services-body .content-fluid.services .text-1 .title h2 {
    font-size: 18px;
  }
  .services-body .content-fluid.services .text-1 .p1 {
    width: 400px;
    font-size: 14px;
  }

  .map {
    height: 100%;
  }
}
@media (min-width: 1051px) and (max-width: 1299px) {
  .burger {
    display: none !important;
  }

  .navbar {
    display: none !important;
  }

  .main .menu-about {
    display: none !important;
  }

  .navbar-slide {
    display: none !important;
  }

  .about-main .content-nav-about .menu-about {
    justify-content: center;
  }

  .home-infos .info-1 .article-1 .text-1 .p1 {
    width: 350px;
  }
  .home-body2 .content-fluid .boxes {
    justify-content: start;
    -moz-column-gap: 20px;
         column-gap: 20px;
    row-gap: 20px;
  }

  .home-body3 .content-fluid {
    margin-top: 150px;
  }

  .clients .content-fluid .client-row1 {
    -moz-column-gap: 20px;
         column-gap: 20px;
  }

  .process .content-fluid .dets {
    padding: 20px;
  }

  .quote .content-fluid {
    padding-left: 200px;
    padding-right: 200px;
  }

  .footer .content-fluid .dev ul {
    -moz-column-gap: 20px;
         column-gap: 20px;
  }

  .about-body2 {
    margin-top: 100px;
    height: unset;
    align-items: center;
  }
  .about-body2 .content-fluid {
    padding-right: 50px !important;
    padding-left: 50px !important;
  }
  .about-body2 .boxes {
    justify-content: flex-start;
    flex-wrap: wrap;
    row-gap: 20px;
    -moz-column-gap: 20px;
         column-gap: 20px;
  }

  .offering-body {
    height: unset;
    align-items: center;
  }
  .offering-body .content-fluid .boxes {
    -moz-column-gap: 20px;
         column-gap: 20px;
    flex-wrap: wrap;
    row-gap: 20px;
  }
  .offering-body .content-fluid .boxes .box {
    width: 268px;
  }
  .offering-body .content-fluid .boxes .box p {
    width: 235px;
  }

  .offering-body2 .content-fluid .boxes .box {
    -moz-column-gap: 20px;
         column-gap: 20px;
  }
  .offering-body2 .content-fluid .boxes .box .row {
    width: 270px;
  }

  .products-body2 {
    height: unset;
  }
  .products-body2 .content-fluid {
    padding-bottom: 100px;
  }
  .products-body2 .content-fluid .boxes {
    height: auto;
  }
  .products-body2 .content-fluid .boxes .box {
    -moz-column-gap: 20px;
         column-gap: 20px;
  }
  .products-body2 .content-fluid .boxes .box .row {
    width: 211px;
    height: 250px;
  }

  .float .content-fluid .notification .noti-box {
    width: 100%;
    transform: translate(0%, -50%);
  }

  .services-body {
    height: 450px;
  }
  .services-body .content-fluid.services {
    align-items: center;
  }
  .services-body .content-fluid.services .text-1 {
    padding-left: 20px;
  }
  .services-body .content-fluid.services .text-1 .title h2 {
    font-size: 18px;
  }
  .services-body .content-fluid.services .text-1 .p1 {
    width: 500px;
    font-size: 14px;
  }
}
@media (min-width: 1300px) and (max-width: 1390px) {
  .burger {
    display: none !important;
  }

  .navbar {
    display: none !important;
  }

  .home-body2 .content-fluid .boxes {
    flex-wrap: nowrap !important;
    justify-content: start;
    -moz-column-gap: 20px;
         column-gap: 20px;
    row-gap: 20px;
  }

  .home-body3 .content-fluid {
    margin-top: 150px;
  }

  .process .content-fluid .dets {
    padding: 20px;
  }

  .about-body2 {
    margin-top: 100px;
    height: unset;
    align-items: center;
  }
  .about-body2 .content-fluid {
    padding-right: 15px !important;
    padding-left: 15px !important;
  }
  .about-body2 .boxes {
    justify-content: flex-start;
    flex-wrap: wrap;
    row-gap: 20px;
    -moz-column-gap: 20px;
         column-gap: 20px;
  }

  .offering-body {
    height: unset;
  }
  .offering-body .content-fluid .boxes {
    -moz-column-gap: 20px;
         column-gap: 20px;
    flex-wrap: nowrap;
    row-gap: 20px;
  }

  .offering-body2 .content-fluid .boxes .box {
    -moz-column-gap: 20px;
         column-gap: 20px;
  }

  .products-body2 {
    height: unset;
  }
  .products-body2 .content-fluid {
    padding-bottom: 100px;
  }
  .products-body2 .content-fluid .boxes .box {
    -moz-column-gap: 20px;
         column-gap: 20px;
  }
}
@media (min-width: 1391px) and (max-width: 100000px) {
  .burger {
    display: none !important;
  }

  .navbar {
    display: none !important;
  }
}
@-webkit-keyframes menu-slide-in-out {
  0% {
    position: absolute;
    opacity: 0;
  }
  1% {
    position: fixed;
    transform: translateY(-80px);
    opacity: 0.5;
  }
  100% {
    position: fixed;
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes menu-slide-in-out {
  0% {
    position: absolute;
    opacity: 0;
  }
  1% {
    position: fixed;
    transform: translateY(-80px);
    opacity: 0.5;
  }
  100% {
    position: fixed;
    transform: translateY(0);
    opacity: 1;
  }
}
