@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700&display=swap');
$primary-color: #4b93ce;
$dark-color: #2a3255;

%transition{
    opacity: 0;
    transition: 0.3s ease-in all;
}

%opacity{
    opacity: 1;
    transform: translateY(10px);
}

%hover{
    position: absolute;
    content: '';
    height: 4px;
    width: 0%;
    background-color: $dark-color;
    left: 0;
    border-radius: 2px;
    transition: 0.3s ease all;
}

%flex-stack{
    display: flex;
    align-items: center;
    justify-content: center;
}

.burger{
    position: absolute;
    top: 25px;
    right: 25px;
    color: $primary-color;
    cursor: pointer;
    z-index: 2121212121212121;
    display: flex;
    i{
        &:nth-of-type(1){
            display: block;
        }
        &:nth-of-type(2){
            display: none;
        }
    }
    &.burger-open{
        color: white;
        i{
            &:nth-of-type(1){
                display: none;
            }
            &:nth-of-type(2){
                display: block;
            }
        }
    }
}

.navbar{
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background-color: $primary-color;
    clip-path: circle(0px at 0 0px);
    transition: 0.5s ease all;
    z-index: 213213213213;
    .nav-links{
        position: absolute;
        top: 50%;
        left: 50%;
        //transform: translate(-50%, -50%);
        transform: translate(-100%, -70%);
        padding-left: 0px;
        li{
            font-size: 10px;
            list-style-type: none;
            margin: 3rem 0;
            &:nth-of-type(1){
                @extend %transition;
                &.nav-link-open{
                    @extend %opacity;
                    transition-delay: 0.15s;
                }
            }
            &:nth-of-type(2){
                @extend %transition;
                &.nav-link-open{
                    @extend %opacity;
                    transition-delay: 0.25s;
                }
            }
            &:nth-of-type(3){
                @extend %transition;
                &.nav-link-open{
                    @extend %opacity;
                    transition-delay: 0.35s;
                }
            }
            &:nth-of-type(4){
                @extend %transition;
                &.nav-link-open{
                    @extend %opacity;
                    transition-delay: 0.45s;
                }
            }
            &:nth-of-type(5){
                @extend %transition;
                &.nav-link-open{
                    @extend %opacity;
                    transition-delay: 0.55s;
                }
            }
            &:nth-of-type(6){
                @extend %transition;
                &.nav-link-open{
                    @extend %opacity;
                    transition-delay: 0.65s;
                }
            }
            &:nth-of-type(7){
                @extend %transition;
                &.nav-link-open{
                    @extend %opacity;
                    transition-delay: 0.75s;
                }
            }
            a{
                text-decoration: none;
                color: white;
                font-size:15px;
                position: relative;
                text-transform: uppercase;
                font-weight: 600;
                font-family: "Open Sans";
                //letter-spacing: 1px;
                //&::before{
                //    @extend %hover;
                //    top: -2px;
                //}
                //&::after{
                //    @extend %hover;
                //    bottom: -5px;
                //}
                //&:hover::before{
                //    width: 100%;
                //}
                //&:hover::after{
                //    width: 100%;
                //}
            }
        }
    }
    &.nav-open{
        display: block;
        clip-path: circle(100%);
        z-index: 213213;
    }
}
